[DEFAULT]

[linux_bridge]
physical_interface_mappings = physnet1:eth2

[vxlan]
enable_vxlan = true
# vxlan_group = 
local_ip = {{ controller.ipv4 }}
l2_population = true
# arp_responder = true

[securitygroup]
enable_security_group = true
firewall_driver = neutron.agent.linux.iptables_firewall.IptablesFirewallDriver
