[DEFAULT]


[agent]
l2_population = true
drop_flows_on_start = False
tunnel_types = vxlan
vxlan_udp_port = 4789

# arp_responder = ...
# enable_distributed_routing = ...

[ovs]
bridge_mappings = {{ ovs_conf.bridge_mappings }}
integration_bridge = br-int
tunnel_bridge = br-tun
local_ip = {{ ovs_conf.local_ip }}

[securitygroup]
firewall_driver=neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
